extends layout

block layout-content
  div.View.UserView
    h1.Banner GET employer/company
    div.Message
      div.Title
        h1 Company Information

      p Company ID: #{company.id || "N/A"}
      p Legal Name: #{company.legal_name || "N/A"}
      p EIN: #{company.ein || "N/A"}
      p Phone Number: #{company.primary_phone_number || "N/A"}
      h3 Departments
      ul
        each department in company.departments
          li #{department.name || "N/A"}
      h3 Locations
      ul
        each location in company.locations
          li #{location.line1 || "N/A"} #{location.line2} #{location.city || "N/A"}, #{location.state || "N/A"} #{location.postal_code || "N/A"} #{location.country || "N/A"}
      h3 Accounts
      ul
        each account in company.accounts
          li #{account.institution_name || "N/A"} - #{account.account_name || "N/A"} - #{account.account_type || "N/A"} - #{account.account_number || "N/A"} - #{account.routing_number || "N/A"}
    
      div.NavButton
        a(href=`/directory`) Directory Users