extends layout

block layout-content
  div.container
    div.d-none.d-sm-none.d-md-block 
    br
    br
    div.login-card.d-flex.rounded-lg.overflow-hidden.bg-white
      div.login-message.d-none.d-sm-none.d-md-flex.flex-column.justify-content-center.p-5
        img(src='/welcome.svg', class="img-fluid mb-3")
        h2 Company Information
      div.login-body
        div.login-body-wrapper.mx-auto
          h5 Departments
          p
            ul
              each department in company.departments
                li #{department.name || "N/A"}
          h5 Locations
          p
            ul
              each location in company.locations
                li #{location.line1 || "N/A"} #{location.line2} #{location.city || "N/A"}, #{location.state || "N/A"} #{location.postal_code || "N/A"} #{location.country || "N/A"}
          h5 Accounts
          p
            ul
              each account in company.accounts
                li #{account.institution_name || "N/A"} - #{account.account_name || "N/A"} - #{account.account_type || "N/A"} - #{account.account_number || "N/A"} - #{account.routing_number || "N/A"}
        div.text-center
          a(class="text-center justify-content-center btn btn-primary" href=`/directory`) See Directory Users